
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


<div class="row">
  <div class="col-md-12">

    <h1 class="text-center" style="font-size: 120px;">[the ranks]</h1>

      <ol>
        {% for entry in entries|dictsortreversed:"ratio" %}
          <li class="text-center">

            <div class="container-fluid">

              {{ entry.screen_name }} - {{ entry.ratio|floatformat:2 }}

            </div>

          </li>
        {% empty %}

        {% endfor %}
      </ol>

  </div>
</div>
